.cardboard-container {
  background-color: #1b1938;
  grid-column: 2 / 3;
  grid-row: 3;
}
.cardboard {
  color: hsl(0, 0%, 100%);
  display: flex;
  background-color: hsl(244, 38%, 16%);
}
.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 90px auto  90px;
  grid-template-rows: 25% 100px auto;
  justify-self: center;
}
.overlay {
  opacity: 0.55;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  color: hsl(0, 0%, 100%);
}
.attribution{
  grid-column: 2 / 3;
  grid-row: 4;
}